<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CHM_JSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>myController</servlet-name>
    <servlet-class>controller.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myController</servlet-name>
    <url-pattern>/LECTURE/14_mvc/ControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CHMBoardController</servlet-name>
    <servlet-class>mvc.controller.CHMBoardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CHMBoardController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <security-role>
    <role-name>admin</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>WebMarket Security</web-resource-name>
      <url-pattern>/LECTURE/market_practice/add_product.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description>권한 관리자 이름</description>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/LECTURE/market_practice/login.jsp</form-login-page>
      <form-error-page>/LECTURE/market_practice/login_fail.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <error-page>
    <error-code>404</error-code>
    <location>/LECTURE/09_exception/error_by_code.jsp</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/LECTURE/09_exception/error_by_code.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/LECTURE/09_exception/error_by_code.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.RuntimeException</exception-type>
    <location>/LECTURE/09_exception/error_by_exception.jsp</location>
  </error-page>
</web-app>